*{
    border:0;
    padding: 0;
    margin: 0;
}
.contenedor01{
    background-color: black;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    height: 40vh;
}
.contenedor0101{
    background-color: black;
    width:max-content;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.contenedor0102{
    background-color: black;
    width:max-content;
    color:white;
    padding: 20px;
}
.contenedor0103{
    background-color: rgb(124, 136, 148);
    width:max-content;
    padding: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1{
    color: white;
}
h3{
    color: white;
}
.menu{
    height: 30px;
    width: 30px;
    margin-left: 10px;
    margin-top: 5px;
    position: absolute;
    left: 0;
    top: 0;
}